*,
*::before,
*::after {
  box-sizing: border-box;
}

#image-slider-container {
  max-width: 1200px;
  width: 100%;
  aspect-ratio: 10 / 6;
  margin: 0 auto;
}

#image-slider {
  width: 100%;
  height: 100%;
  position: relative;
}

#image-dump {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}

.image-slider-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  flex-shrink: 0;
  flex-grow: 0;
  transition: translate 300ms ease-in-out;
}

.image-slider-button {
  all: unset;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 100ms ease-in-out;
}

.image-slider-button:hover,
.image-slider-button:focus-visible {
  background-color: rgba(0, 0, 0, 0.2);
}

.image-slider-button > * {
  stroke: white;
  fill: black;
  width: 2rem;
  height: 2rem;
}

.image-slider-button:hover > *,
.image-slider-button:focus-visible > * {
  animation: squish 350ms ease-in-out;
}

@keyframes squish {
  50% {
    scale: 1.25 1.25;
  }
}

.image-slider-dot-button {
  all: unset;
  display: block;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  transition: scale 100ms ease-in-out;
}

.image-slider-dot-button:hover,
.image-slider-dot-button:focus-visible {
  scale: 2;
  margin: 0 5%;
}

.image-slider-dot-button > * {
  stroke: white;
  fill: black;
  height: 100%;
  width: 100%;
}

.image-slider-button:focus-visible,
.image-slider-dot-button:focus-visible {
  outline: auto;
}
